@CHARSET "UTF-8";

#body{
	background: url(../img/bal.png);
	
}

#exit {
	width: 80px;
	height: 30px;
	margin-left: 10px;
	border-radius: 2px;
	font-family:"幼圆";
	background-color: #444444;
	color: #ffffff;
}

#login {
	width: 80px;
	height: 30px;
	border-radius: 2px;
	font-family:"幼圆";
	background-color: #444444;
	color: #ffffff;
}

#userName {
	width: 180px;
	height: 30px;
	margin-top: 10px;
}

#userPass {
	width: 180px;
	height: 30px;
	margin-top: 10px;
}

select {
	width: 180px;
	height: 30px;
	margin-top: 60px;
	margin-left: 4px;
}

#letter{
	font-family:Tahom;
	font-size:1.8em;
	
	 	
	 	
}
#han{
	 font-family:Tahom;
	 color:red;
	border: 0px solid #ffffff;
	   width:140px;
	 	height:20px;
	 	margin-top:-16px;
	 	font-size:0.8em;
	 	
}
#selectItem{
	
	width: 180px;
	height: 31px;
}

#version{
	
	margin-left:20px;
}

#center{
	
	text-align: center;
	margin-top:-40px;
}
#logo{
		border: 0px solid #ffffff;
	   width:150px;
		height:60px;
		margin-top:5px;
		float:left;
	   margin-left:100px;
	   
	    font-family:Tahom;
}
#title{
	
		border: 0px solid #ffffff;
		font-size:1.8em;
		width:360px;
		height:40px;
		margin-top:-52px;
		float:left;
		margin-left:250px;
	    font-family:Tahom;
}

#topBar {
	background-color: #444444;
	margin-left: -10px;
	margin-top: 30px;
	border: 0px solid yellow;
	width: 639px;
	height: 60px;
	color: #ffffff;
}

#main {
	background: url(../img/backgroud.png);
	width: 620px;
	height: 390px;
	border-radius: 10px;
	border: 1px solid #444444;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 10px solid #444444;
	border-left: 10px solid transparent;
	margin-left: -10px;
}

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 10px solid #444444;
	border-right: 10px solid transparent;
	float: right;
	margin-top: -10px;
	margin-right: -10px;
}

span {
	font-size: 1.5em;
	font-family: 幼圆;
}