<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coms.hrsoft.mapper.UserMapper">

<select id="findByUsername" parameterType="string" resultType="User">
      select * from hf_users where userName=#{username,jdbcType=VARCHAR}
    </select>

<select id="listAllUser" resultType="map">
   select uid,username,logintime,createtime,loginip from hf_users
   </select>
</mapper>