@charset "utf-8";
/* CSS Document */
/*common*/
*:focus {outline: none;}
*,
::before,
::after{
    padding: 0;
    margin: 0;
    /*设置所有的盒子都是以边框开始计算  使用的都流式布局*/
    -webkit-box-sizing: border-box;/*要求兼容主流浏览器 webkit内核的必须*/
    box-sizing: border-box;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*-webkit-user-select: none;*/
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust:none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    font-family: "微软    font-family: "微软雅黑" !important;
    font: 16px/1.25 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
雅黑";
    color: #595757;
    font-size: 12px;
    background-color: #EFEFEF;
}
body *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
}
.layout{
    width: 100%;
    overflow: hidden;
}
a{ text-decoration: none; }

a,img{ border: none;text-decoration: none;}

img,input,button{ vertical-align: middle;}

li{ list-style: none}
.pos_r{
    position: relative;
}
.pos_a{
    position: absolute;
}
.over{
    overflow: hidden;
}
.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
.clear{
    clear: both;
}
.width{
    width: 100%;
}
/*******************以上为公共部分-勿删********************/
.navbar{
    min-width: 990px;
}
.navbar-default .navbar-nav>li.logofont a{
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a{
    border-right: 1px solid #00428A;
}
.navbar-default .navbar-nav > li > a.bordernone{
    border-right: none;
}
.pa_right0{
    padding-right: 0px !important;
}
.badgetop{
    margin-top: -3px;
}

/************中间面板************/
.content{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
    background-color: #fff;
    z-index: 100;
}
.content .left_big{
    position:relative;
    float:left;
}
.content .con_left{
    background-color: #F3FBFF;
    z-index: 102;
    overflow-x: hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-shadow: -2px -1px 16px 1px;
}
.con_left .sidebar-menu .left_topimg{
    height: 33px;
    width: 100%;
    background-color: #F3FBFF;
    color: #aeb9c2;
    text-align: center;
    line-height: 33px !important;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-bottom: 1px solid #94BFDB;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; 
    border-bottom: 1px solid #94BFDB;
}
.sidebar-menu > li > a {
    padding: 0px 20px 0px 16px;
    display: block;
    border-left: 3px solid transparent;
    color: #2D3D44;
    height: 57px;
    line-height: 57px;
}
.sidebar-menu > li > a span{
    font-size: 14px;
    padding:0px 10px;
}
.sidebar-menu > li > a img{
    vertical-align: -2px;
}
.sidebar-menu > li > a img.arrowimg{
    vertical-align: 3px;
}
.sidebar-menu > li > a .glyphicon{
    font-size: 12px;
    width: 15px;
    text-align: center;
}
.sidebar-menu > li > a > .fa {
    width: 20px; 
    margin-top: 23px;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;
    background: #00499D;
    border-left-color: #00499D; 
}
.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #FFFFFF; 
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px; 
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; 
}
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; 
}
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); 
}
.sidebar-menu li.active > .treeview-menu {
    display: block; 
}
.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; 
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px; 
}
.sidebar-menu .treeview-menu > li {
    margin: 0; 
    border-bottom: 1px solid #C9E0EB;
}
.sidebar-menu .treeview-menu > li:hover,.sidebar-menu .treeview-menu > li.active{
    background-color: #5FBCEB;
}
.sidebar-menu .treeview-menu > li:last-child{
    border-bottom: none;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 0px 10px 0px 25px;
    display: block;
    font-size: 12px;
    color: #585959;
    font-family: "微软雅黑" !important;
    height: 35px;
    line-height: 35px;
}
.sidebar-menu .treeview-menu > li > a img{
    float: right;
    padding-right: 10px;
    margin-top: 15px;
}
.sidebar-menu .treeview-menu > li > a > .glyphicon {
    width: 25px; 
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto; 
}
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li:hover > a，.sidebar-menu .treeview-menu > li > a.current {
    color: #fff;
}
.sidebar-menu .treeview-menu > li:hover > a,.sidebar-menu .treeview-menu > li.active > a{
    color: #fff;
}
/**********左侧导航结束**********/
/*********右侧开始**********/
.con_right{
    overflow: hidden;
    width: auto;
    padding:10px;
    background-color: #fff;
}
.con_right .right_div{
    width: 100%;
    overflow: hidden;
}
/*标题开始*/
.right_div .bt_title{
    width: 100%;
    overflow: hidden;
    padding:8px 15px;
    background-color: #fff;
    margin-bottom: 10px;
}
/*标题开始*/
.right_div .title{
    width: 100%;
    border-bottom: 1px solid #C9C9CA;
    overflow: hidden;
    padding:10px 0px;
    font-size: 16px;
}
.right_div .title_nobor{
    border:none;
}
.title .bt_button{
    margin-left: 10px;
    margin-bottom: 3px;
}
.bt img{
    margin-left: 4px;
    margin-right: 10px;
}
/*搜索框*/
.search_but{
    background-color: #00499D !important;
    border: 1px solid #00499D;
    color: #fff !important;
    height: 27px;
}
/*按钮*/
.form-inline .form-group4{
    width: 89px;
}



/********右侧下方若是两个盒子*********/
.contable_left{
    border-right:5px solid #EFEFEF;
    background-color: #fff;
    padding:0px 10px;
}
.contable_right{
    border-left:5px solid #EFEFEF;
    background-color: #fff;
    /*padding:0px 10px;*/
}
/***************右侧下方若是一个盒子*******************/
.conone{
    background-color: #fff;
}
/*********************小标题右边的按钮************************/
.bt_button{
    float: right;
}
.search{
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E6EB;
}

.topform{
    margin-left: 3px;
}
.con_table{
    background-color: #fff;
    height: 592px;
    overflow-y:auto;
    overflow-x:hidden;
}
.edit_table input{
    border:none !important;
    border-bottom: 1px solid #ccc !important;
}
.trth{
    background-color: #00499D !important;
    color: #fff !important;
}
.tdinput{
    text-align: center;
    padding:0px 8px;
}

.table{
    border:1px solid #DDDDDD;
}
.table_div{
    height: 411px;
    overflow-y:auto;
}
::-webkit-scrollbar {
          width: 5px;
          height: 5px;
    } /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
    background-color: #EBEFF9;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color:#EBEFF9; 
} /* 滑块颜色 */
::-webkit-scrollbar-thumb:hover{
    background-color:#00499D; 
}
::-webkit-scrollbar-button {
    /*background-color: rgba(0, 153, 204, 0.8);*/
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
    background-color: #F1F1F1;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/***********分页*********/
.page_all{
    font-size: 12px;
    color: #595757;
    margin-top: 5px;
}
.page_all span{
    color: #00499D;
    padding: 0px 5px;
}
.mart5{
    margin-top: 5px;
}
.page_break{
    font-size: 12px;
    color: #595757;
    margin-left: 20px;
    width: 150px;
}
.page_break label{
    float: left;
}
.page_break input{
    float: left;
    width: 66px;
    margin:0px 10px;
}
.page_input{
    width: 120px;
    margin-left: 10px;
}
.page_input select{
    float: left;
    width: 50%;
}
.page_input label{
    margin-left: 10px;
}
.page_div{
    margin-top: 3px;
}
.page_to{
    margin-top: 20px;
}
/**********批量删除**********/
.del_div{
  margin-top: 3px;
  margin-right: 20px;  
}
.page_ul{
    margin:0 !important;
}
.page_to .form-inline .form-group{
    margin-top: 0px;
}
.page_to input,.page_to select{
    border-radius: 5px;
}
.page_del{
    margin-right: 10px;
}
/****************详情页的栅格系列****************/
.label_input .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 100%;
}
.label_input .form-inline label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    min-width: 60px;
}
.label_input .form-inline .form-group2 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 155px;
}
.label_input .form-inline .form-group3 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 324px;
}
.label_input .form-inline .form-control {
    display: inline-block;
    width:-moz-calc(100% -70px ); 
    width:-webkit-calc(100% - 70px); 
    width:calc(100% - 70px);
    vertical-align: middle;
}


/**************detail.html************/
.con_table .edit_input{
    width: 100%;
    overflow: hidden;
    padding-left: 5px !important;
}

.form-group .a-upload{ 
    width:74px; 
    height:72px; 
    position: relative; 
    cursor: pointer; 
    color: #888; 
    background:url(../images/file_img.png) no-repeat center; 
    overflow: hidden; 
    display: inline-block; 
    *display: inline; *zoom: 1; 
    border:1px solid #ddd; 
    border-radius: 5px;
    margin-right: 15px;
}
.a-upload input{
    position: absolute; 
    right: 0; 
    top: 0; 
    opacity: 0; 
    filter: alpha(opacity=0); 
    cursor: pointer; 
    width: 100%; 
    height: 100%;
}
.input_button{
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 65px;
}
.label_input{
    height: 630px;
    overflow:auto;
    background-color: #fff;
    padding-left: 3px;
}
.label_input::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} /* 这是针对缺省样式 (必须的) */
.label_input::-webkit-scrollbar-track {
    background-color: #F1F1F1;
} /* 滚动条的滑轨背景颜色 */

.label_input::-webkit-scrollbar-thumb {
    background-color:#BCBCBC; 
} /* 滑块颜色 */
.label_input::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 153, 204, 0.8); 
}
.label_input::-webkit-scrollbar-button {
    /*background-color: rgba(0, 153, 204, 0.8);*/
} /* 滑轨两头的监听按钮颜色 */

.label_input::-webkit-scrollbar-corner {
    background-color: #F1F1F1;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */



/******树状结构******/
.tree_tab{
    border:none !important;
}
.tree_tab tr:last-child{
    border-bottom: 1px solid #DDDDDD;
}
.tree_tab tr td{
    text-align: right !important;
    color: #727171;
    padding-right: 10px;
    overflow: hidden;
}
.tree_tab tr td:first-child{
    width: 60% !important;
    text-align: left !important;
}
.tree_tab tr td a{
    color: #727171;
}
.tree_tab tr td a:hover{
    text-decoration: none;
}
.tree_tab td img{ 
    padding-right: 10px; 
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 10px;
}
.tree_tab td span{
    width: 80%;
    float: left;
    display: block;
    line-height: 20px;
    padding: 8px 0px;
}
.tree_tab .yiji_box{
    background-color: #EAEDF1;
}
.tree_tab .yiji_box a{
    color: #222;
}
.tree_tab td.pad_yiji{ 
    cursor: pointer;
    padding-left: 10px;
    color: #222;
}
.tree_tab td.pad_erji{ 
    padding-left: 20px; 
    cursor: pointer;
}
.tree_tab td.pad_sanji{ 
    padding-left: 40px; 
    cursor: pointer;
}
.tree_tab td.pad_siji{ 
    padding-left: 60px;
}



/*************tab切换************/
.tab{
    width: 100%;
    overflow: hidden;
    margin-top:15px;
    border-bottom: 1px solid #E4E4E4;
}
.tab li{
    float: left;
    width: 15%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border:1px solid #E4E4E4;
    cursor: pointer;
    font-size: 14px;
}
.tab li:hover,.tab li.current{
    background-color: #3A3A3A;
    color: #fff;
    border:1px solid #3A3A3A;
}


/*****************弹出框的样式***************/
.fade_pro .form-group{
    width: 100%;
    overflow: hidden;
}
.fade_pro label{
    float: left;
    width: 16%;
    margin-top: 9px;
    font-size: 12px;
}
.fade_pro .form-group{
    margin-bottom: 5px;
}
.fade_pro .form-control{
    float: left;
    width: 84%;
    border-radius: 4px;
}




/***********流程部分************/
.process{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.process .process_div{
    width: 10%;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: #0099CC;
}
.process .process_div span{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 5px;
    background-color: #FF9900;
    color: #fff;
    display: inline;
}
.process img{
    float: left;
    margin:0px 15px;
    margin-top: 7px;
}
.process .process_div:last-child{
    margin-right: 0px;
}
.form-date{
    background: url(../images/time.png) no-repeat 133px center;
}


/***********能源区域报表***********/
.type_tab{
    width: 195px;
    height: 26px;
    line-height: 24px;
    overflow: hidden;
}
.type_tab li{
    width: 90px;
    float: left;
    text-align: center;
    background-color: #F2F2F2;
    color: #87898B;
    font-size: 12px;
    border:1px solid #AFBECD;
    cursor: pointer;
}
.type_tab li:hover,.type_tab li.current{
    background-color: #00499D;
    border:1px solid #00499D;
    color: #fff;
}
.type_tab li:first-child{
    border-right: none;
}
.type_tab li:last-child{
    border-left: none;
}


.form-group5 select{
    padding:0px 12px !important;
    height: 24px;
    border-radius: 3px;
}
.edit{
    color: #00499D;
}
.history{
    color: #9E9E9E;
}
.delete{
    color: #F35E5E;
}
td a:nth-child(2){
    padding-left: 20px;
}
.handle{
    width: 100%;
    overflow: hidden;
}
.data_hand{
    font-size: 12px;
    color: #B5B5B5;
    margin-top: 15px;
}
.data_hand font{
    color: #2A3038;
}
.data_hand span:nth-child(2){
    padding-left: 10px;
}

.icon-arrow_right{
    color: #808D96;
}

#selectBox li{
    line-height: 25px;
}
#selectBox li input{
    vertical-align: -3px;
    margin-right: 10px;
}
#selectBox button{
    width: 50px;
    margin-top: 5px;
    height: 22px;
    text-align: center;
}

.nav .font_img{
    margin:14px 20px 0px 20px;
}


/*login页面*/
/*login--页面*/
.box .c_middle .content_login{ margin-left:0px; height:802px;}
@media(width:1366px){
    .box .c_middle .content_login{ margin-bottom: -74px;}
}
.login{width:275px;border:2px solid #F0F0F0; padding:0 25px; overflow: hidden;background: #fff;
position: relative;z-index: 99;margin: 92px 0px 0px 208px;}
.login .log_title{ width:74px;margin:0 auto;border-top:3px solid #00499D;padding:20px 0; font-size: 18px; position: relative;top:-1px;color:#293038;}
.login .denglu{width:100%; border:1px solid #ddd;height:30px;margin-bottom: 22px;}
.login .denglu label{ line-height: 30px;width:65px; text-align: right; float: left;}
.login .denglu input{ border:none; float: left;height:28px;width:154px; outline: none;}
.login .yanz{width:172px;}
.login .yanz input{width:107px;}
.login .y_ma{width:100px;height:30px;border:1px solid #ddd; border-left:none;}
.login .d_deng{ border: none;margin-bottom:60px;}
.login .d_deng .d_inter{width:100%;color:#fff; background-color: #00499D;border: none; border-radius: 5px;height:30px; font-size: 14px; cursor: pointer; outline: none;}
@media screen and (max-width: 1920px) {
   .loginCon{
         background:#fff url(../images/login2.jpg) no-repeat 100%;
        height: 888px; 
    }
}
@media screen and (max-width: 1366px) {
   .loginCon{
         background:#fff url(../images/login.jpg) no-repeat 100%;
        height: 585px; 
    }
}
.login .forget_pass{
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
}
.login .forget_pass .check{
    margin-top: 0px;
    margin-right: 5px;
}
.covervid-video{
    position: fixed;
    top: 0px;
    left: 0px;
    /* height: 973px; */
}