#header {
  color: #f00;
}
h2 {
  color: #222;
}
/***************************以上为测试示例*********************/
/***********************************************/
/*-----------针对于整体页面--规则开始----------*/
/***********************************************/
/*主色调--蓝色背景色*/
/*头部辅助色调-深蓝色背景*/
/*******白色******/
/*******字体主题色*******/
/******字体主要大小像素*******/
/*******所有的按钮圆角都是6px*****/
/******按钮，搜索框圆角****/
/***********************************************/
/*-----------针对于整体页面--规则结束----------*/
/***********************************************/
/***********************************************/
/*-------------以下针对所有按钮开始------------*/
/***********************************************/
/*所有的按钮默认颜色*/
/*添加节点按钮默认背景颜色*/
/*批量删除按钮鼠标经过的背景颜色*/
/*发布按钮鼠标经过的背景颜色*/
/*禁用按钮鼠标经过的背景颜色*/
/*开通按钮鼠标经过的背景颜色*/
/*提交按钮鼠标经过的背景颜色*/
/*默认按钮情况下border线的颜色*/
/*按钮的字体颜色为白色*/
/*按钮的字体颜色为主体字体色*/
/*按钮的字体大小为14px*/
/*按钮的字体大小为12px*/
/*按钮字体大小说明：除操作字段里面的按钮字体为12px，其余全部为14px*/
/*操作字段里编辑的背景颜色*/
/*操作字段里删除的背景颜色*/
.btn_bt {
  background-color: #EBEDF1;
  border: 1px solid #D1D3D4;
  font-size: 12px;
  color: #595757;
  border-radius: 6px;
  height: 29px;
}
.btn_bt:hover,
.btn_bt:focus {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
/*所有按钮的默认样式*/
.btn_btadd {
  background-color: #FFA100;
  border: 1px solid #FFA100;
  color: #fff;
}
/*添加按钮的默认样式*/
.btn_btadd:hover,
.btn_btadd:focus {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
/*添加按钮的鼠标经过样式*/
.btn_btdel:hover,
.btn_btdel:focus {
  background-color: #FF6600;
  border: 1px solid #FF6600;
  color: #fff;
}
/*批量删除按钮的鼠标经过样式*/
.btn_btpublic:hover,
.btn_btpublic:focus {
  background-color: #FBAB58;
  border: 1px solid #FBAB58;
  color: #fff;
}
/*发布按钮鼠标经过的样式*/
.btn_btban:hover,
.btn_btban:focus {
  background-color: #A3A8B0;
  border: 1px solid #A3A8B0;
  color: #fff;
}
/*禁用按钮鼠标经过样式*/
.btn_btopen:hover,
.btn_btopen:focus {
  background-color: #1ABB46;
  border: 1px solid #1ABB46;
  color: #fff;
}
/*开通按钮鼠标经过样式*/
.btn_btsub {
  width: 122px;
  height: 36px;
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  margin-right: 13px;
}
/*提交按钮的样式*/
.btn_btsub:hover,
.btn_btsub:focus {
  width: 122px;
  height: 36px;
  background-color: #F08300;
  border: 1px solid #F08300;
}
/*提交按钮的鼠标经过样式*/
.btn_btcan {
  width: 122px;
  height: 36px;
  background-color: #EBEDF1;
}
/*取消按钮的样式*/
.btn_btcan:hover,
.btn_btcan:focus {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
/*取消按钮的鼠标经过样式*/
.modal-footer .btn_btsub {
  width: 118px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  margin-right: 13px;
  border-radius: 4px;
}
/*提交按钮的样式*/
.modal-footer .btn_btsub:hover,
.modal-footer .btn_btsub:focus {
  background-color: #F08300;
  border: 1px solid #F08300;
}
/*提交按钮的鼠标经过样式*/
.modal-footer .btn_btcan {
  width: 118px;
  height: 30px;
  background-color: #EBEDF1;
  border-radius: 4px;
}
/*取消按钮的样式*/
.modal-footer .btn_btcan:hover,
.modal-footer .btn_btcan:focus {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
/*取消按钮的鼠标经过样式*/
.anchor {
  padding: 4px 12px;
  background-color: #EBEDF1;
  border: 1px solid #D1D3D4;
  font-size: 12px;
  color: #fff;
  border-radius: 6px;
  border: none;
  margin-right: 5px;
}
.anchor:last-child {
  margin-right: 0px;
}
/*操作字段下的所有a锚点的默认状态*/
.anchor:hover {
  text-decoration: none;
  border: 1px solid #222;
  color: #fff;
}
/*操作字段下的所有a锚点的鼠标经过状态*/
.a_edit {
  background-color: #2D74AC;
  border: 1px solid #1551A3;
}
/*操作字段下--编辑--的样式*/
.a_del {
  background-color: #CE514E;
  border: 1px solid #972A2A;
}
/*操作字段下--删除--的样式*/
.a_add1 {
  background-color: #59AF5B;
  border: 1px solid #17883C;
}
.a_add2 {
  background-color: #5BB6D2;
  border: 1px solid #3D98AC;
}
.a_add3 {
  background-color: #E7A84F;
  border: 1px solid #B27634;
}
/***********************************************/
/*---------------针对所有按钮结束--------------*/
/***********************************************/
/***********************************************/
/*-------------针对主标题&副标题开始-----------*/
/***********************************************/
.bt {
  font-size: 16px;
  color: #293038;
  float: left;
  margin-top: 5px;
}
.bt_small {
  font-size: 15px;
  padding: 5px 0px 0px 3px;
}
/***********************************************/
/*-------------针对主标题&副标题结束-----------*/
/***********************************************/
.leftlabel {
  color: #595757;
  font-size: 14px;
}
.navbar-default {
  background-color: #222;
  border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
}
.navbar-default .navbar-brand {
  background-color: ;
}
.navbar-right li.language {
  background-color: ;
}
/*********此行代码不可移入css.css，否则无效*********/
